/* Основной стиль для страницы */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
    font-family: Barlow, sans-serif;
    background-color: #EFF6FF;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A4A5C;
}
.container {
    display: flex;              
    height: 100vh;
}
.left {
    background: url('assets/bg.jpg');
     width: 50%;
    position: relative;
    background-color: #ffffff;
}
.left img {
    height: 100%;
    object-fit: cover;
}
.left .logo {
    top: 20px;
    left: 35px;
    width: 116px;
    height: auto;
    z-index: 10;
    position: absolute;
}
.right {
    width: 50%;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
}

h1 {
    text-align: left;
    font-size: 24px;
    font-weight: 500;
    color:#7B8A92;
}
h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    color:#96A5B1;
}
.social-buttons {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    width: 100%;
    margin-top: 30px;
    padding: 0;
}
.social-buttons button {
    position: relative;
    color: #ffffff;
    border-radius: 0;
    font-weight: 400;
    font-size: 11px;
    width: 205px;
    height: 34px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}
.btn-fb {background-color: #255A9B;}
.btn-in {background-color: #0075B6;}

.input-container:hover {
  border-left: 2px solid #409DFD; /* левая полоса загорается синим */
  padding-bottom: calc(1rem - 3px);
}

.icon {
    width: 15px;
    height: 16px;
    transform: translateY(-50%);
    position: absolute;
    left: 12px;
    top: 50%;
}
.divider {
    display: flex;
    text-align: left;
    font-size: 10px;
    margin: 2.5rem 0;
    font-weight: 500;
    color:#7B8A92;
    align-items: center;
    margin-left: 90px;
}
.divider::before,
.divider::after {
    content: "";
    width: 100px;
    height: 0.5px;
    background-color: #7B8A92;
    margin: 0 10px;
}

.form-row {
    display: flex;
    gap: 30px;
    align-items: flex-start;
   
}

.input-container {
    position: relative;
    width: 204px;
    border: 1px solid #EEEEEE;
    background-color: white;
    transition: border-color 0.2s ease;
    flex: 1;
    min-width: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box; 
    padding: 8px 10px;
    flex: none; 
}

.input-label {
    display: block;
    font-size: 12px;
    color: #9D9E9D;
    margin-bottom: 4px;
    font-weight: 500;
}

.input-field {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;

}

.input-field::placeholder {
    color: #484848;
    font-size: 12px;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
.input-container:hover {
  border-left: 2px solid #409DFD;
  padding-bottom: calc(1rem - 3px);
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color:#7B8A92;
    margin-top: 2rem;
}
h4 {
    font-size: 12px;
    font-weight: 300;
    color:#96A5B1;
    margin-bottom: 1rem;
}
.radio-row {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px; 
}

.option {
    position: relative;
    display: flex;
    align-items:center;
    cursor: pointer;
    font-size: 13px;
    color: #13222b;
    font-weight: 500;
}
.option::after {
    content: "\24D8";
    display: inline-block;
    font-size: 9px;
    margin-left: 5px;
    color: #ced5db;
    cursor: pointer;
}
.option input[type="radio"] {
    appearance: none;
    width:15px;
    height: 15px;
    border: 3px solid #b6b8b9;
    border-radius: 50%;
    background-color: #fff;
    cursor: none;
    position: relative;
    transition: border-color 0.2, box-shadow 0.2s;
    margin-right: 8px;
}
/*не поняла это выбор кнопки или наведение? если наведение, то меняю на hover либо focus*/

.option input[type="radio"]:hover {
    border-color: #409DFD;
}

.option input[type="radio"]:checked::before {
    position: absolute;
    content:"";
    top: 50%;
    left: 50%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%)
}

.tooltip {
    font-size: 11px;
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    color: #A6A7A7;
    box-shadow: 0 4px 8px #dbdee1;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translateY(8px);
    width: 220px;
    transition: opcity 0.2s ease-in-out;
    z-index: 1;
    padding: 10px;
}
.option:hover .tooltip {
    visibility: visible;
    opacity: 1;
    margin: 2px 3px 2px 3px;
}

.agree {
    margin-top: 70px;
    color:#A2A3A3;
    text-decoration: none;
    margin-bottom: 3px;
    border: none;
    padding: 4px 3px;
    font-size: 11px;
}


.agree a {
    color: #98C8FF;
    margin-bottom: 3px;
}

.btn-create {
    margin-top: 20px;
    color: #fdfdfd;
    width: 204px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color:#3698FB;
    border: none;
}
.btn-create:hover {
    background-color:#2E51BA;
}